##
## @section Common parameters
##

## @param {bool} external - Enable external access from outside the cluster.
external: false

##
## @section Application-specific parameters
##

## @typedef {struct} Topic - Topic configuration.
## @field {string} name - Topic name.
## @field {int} partitions - Number of partitions.
## @field {int} replicas - Number of replicas.
## @field {object} config - Topic configuration.

## @param {[]Topic} topics - Topics configuration.
topics: []
## Example:
## topics:
##   - name: Results
##     partitions: 1
##     replicas: 3
##     config:
##       min.insync.replicas: 2
##   - name: Orders
##     config:
##       cleanup.policy: compact
##       segment.ms: 3600000
##       max.compaction.lag.ms: 5400000
##       min.insync.replicas: 2
##     partitions: 1
##     replicas: 3

##
## @section Kafka configuration
##

## @typedef {struct} Resources - Explicit CPU and memory configuration for each replica.
## @field {quantity} [cpu] - CPU available to each replica.
## @field {quantity} [memory] - Memory (RAM) available to each replica.

## @enum {string} ResourcesPreset - Default sizing preset.
## @value s1.nano
## @value s1.micro
## @value s1.small
## @value s1.medium
## @value s1.large
## @value s1.xlarge
## @value s1.2xlarge
## @value s1.4xlarge
## @value u1.nano
## @value u1.micro
## @value u1.small
## @value u1.medium
## @value u1.large
## @value u1.xlarge
## @value u1.2xlarge
## @value u1.4xlarge
## @value m1.nano
## @value m1.micro
## @value m1.small
## @value m1.medium
## @value m1.large
## @value m1.xlarge
## @value m1.2xlarge
## @value m1.4xlarge

## @typedef {struct} Kafka - Kafka configuration.
## @field {int} replicas - Number of Kafka replicas.
## @field {Resources} [resources] - Explicit CPU and memory configuration. When omitted, the preset defined in `resourcesPreset` is applied.
## @field {ResourcesPreset} resourcesPreset - Default sizing preset used when `resources` is omitted.
## @field {quantity} size - Persistent Volume size for Kafka.
## @field {string} storageClass - StorageClass used to store the Kafka data.

## @param {Kafka} kafka - Kafka configuration.
kafka:
  replicas: 3
  resources: {}
  resourcesPreset: "u1.micro"
  size: 10Gi
  storageClass: ""

##
## @section ZooKeeper configuration
##

## @typedef {struct} ZooKeeper - ZooKeeper configuration.
## @field {int} replicas - Number of ZooKeeper replicas.
## @field {Resources} [resources] - Explicit CPU and memory configuration. When omitted, the preset defined in `resourcesPreset` is applied.
## @field {ResourcesPreset} resourcesPreset - Default sizing preset used when `resources` is omitted.
## @field {quantity} size - Persistent Volume size for ZooKeeper.
## @field {string} storageClass - StorageClass used to store the ZooKeeper data.

## @param {ZooKeeper} zookeeper - ZooKeeper configuration.
zookeeper:
  replicas: 3
  resources: {}
  resourcesPreset: "s1.small"
  size: 5Gi
  storageClass: ""
