##
## @section Common parameters
##

## @typedef {struct} Resources - Explicit CPU and memory configuration for each RabbitMQ replica.
## @field {quantity} [cpu] - CPU available to each replica.
## @field {quantity} [memory] - Memory (RAM) available to each replica.

## @enum {string} ResourcesPreset - Default sizing preset.
## @value s1.nano
## @value s1.micro
## @value s1.small
## @value s1.medium
## @value s1.large
## @value s1.xlarge
## @value s1.2xlarge
## @value s1.4xlarge
## @value u1.nano
## @value u1.micro
## @value u1.small
## @value u1.medium
## @value u1.large
## @value u1.xlarge
## @value u1.2xlarge
## @value u1.4xlarge
## @value m1.nano
## @value m1.micro
## @value m1.small
## @value m1.medium
## @value m1.large
## @value m1.xlarge
## @value m1.2xlarge
## @value m1.4xlarge

## @param {int} replicas - Number of RabbitMQ replicas.
replicas: 3

## @param {Resources} [resources] - Explicit CPU and memory configuration for each RabbitMQ replica. When omitted, the preset defined in `resourcesPreset` is applied.
resources: {}

## @param {ResourcesPreset} resourcesPreset="s1.nano" - Default sizing preset used when `resources` is omitted.
resourcesPreset: "s1.nano"

## @param {quantity} size - Persistent Volume Claim size available for application data.
size: 10Gi

## @param {string} storageClass - StorageClass used to store the data.
storageClass: ""

## @param {bool} external - Enable external access from outside the cluster.
external: false

##
## @section Application-specific parameters
##

## @typedef {struct} User - User configuration.
## @field {string} [password] - Password for the user.

## @param {map[string]User} users - Users configuration map.
users: {}
## Example:
## users:
##   user1:
##     password: strongpassword
##   user2:
##     password: hackme
##   user3:
##     password: testtest

## @typedef {struct} Roles - Virtual host roles.
## @field {[]string} [admin] - List of admin users.
## @field {[]string} [readonly] - List of readonly users.

## @typedef {struct} Vhost - Virtual host configuration.
## @field {Roles} roles - Virtual host roles list.

## @param {map[string]Vhost} vhosts - Virtual hosts configuration map.
vhosts: {}
## Example:
## vhosts:
##   myapp:
##     roles:
##       admin:
##       - user1
##       - user2
##       readonly:
##       - user3
##   test:
##     roles:
##       admin:
##       - user3
