##
## @section Common parameters
##

## @param {quantity} size - Persistent Volume Claim size available for application data.
size: 10Gi

## @param {string} storageClass - StorageClass used to store the data.
storageClass: ""

## @param {bool} external - Enable external access from outside the cluster.
external: false

##
## @section Application-specific parameters
##

## @param {[]string} endpoints - Endpoints configuration, as a list of <ip:port>.
endpoints: []
## Example:
## endpoints:
##   - 10.100.3.1:80
##   - 10.100.3.11:80
##   - 10.100.3.2:80
##   - 10.100.3.12:80
##   - 10.100.3.3:80
##   - 10.100.3.13:80

##
## @section HAProxy parameters
##

## @typedef {struct} Resources - Explicit CPU and memory configuration for each replica.
## @field {quantity} [cpu] - CPU available to each replica.
## @field {quantity} [memory] - Memory (RAM) available to each replica.

## @enum {string} ResourcesPreset - Default sizing preset.
## @value s1.nano
## @value s1.micro
## @value s1.small
## @value s1.medium
## @value s1.large
## @value s1.xlarge
## @value s1.2xlarge
## @value s1.4xlarge
## @value u1.nano
## @value u1.micro
## @value u1.small
## @value u1.medium
## @value u1.large
## @value u1.xlarge
## @value u1.2xlarge
## @value u1.4xlarge
## @value m1.nano
## @value m1.micro
## @value m1.small
## @value m1.medium
## @value m1.large
## @value m1.xlarge
## @value m1.2xlarge
## @value m1.4xlarge

## @typedef {struct} HAProxy - HAProxy configuration.
## @field {int} replicas - Number of HAProxy replicas.
## @field {Resources} [resources] - Explicit CPU and memory configuration. When omitted, the preset defined in `resourcesPreset` is applied.
## @field {ResourcesPreset} resourcesPreset - Default sizing preset used when `resources` is omitted.

## @param {HAProxy} haproxy - HAProxy configuration.
haproxy:
  replicas: 2
  resources: {}
  resourcesPreset: "s1.nano"

##
## @section Nginx parameters
##

## @typedef {struct} Nginx - Nginx configuration.
## @field {int} replicas - Number of Nginx replicas.
## @field {Resources} [resources] - Explicit CPU and memory configuration. When omitted, the preset defined in `resourcesPreset` is applied.
## @field {ResourcesPreset} resourcesPreset - Default sizing preset used when `resources` is omitted.

## @param {Nginx} nginx - Nginx configuration.
nginx:
  replicas: 2
  resources: {}
  resourcesPreset: "s1.nano"
