cluster-autoscaler:
  cloudProvider: hetzner
  rbac:
    additionalRules:
      - apiGroups:
          - coordination.k8s.io
        resources:
          - leases
        verbs:
          - create
          - get
          - update
