{{- $cozystack := .Values._cozystack | default dict }}
{{- $host := dig "publishing" "host" "" $cozystack }}
{{- $oidcEnabled := dig "authentication" "oidc" "enabled" false $cozystack | toString }}

{{- if .Capabilities.APIVersions.Has "helm.toolkit.fluxcd.io/v2" }}
{{- $tenantRoot := lookup "helm.toolkit.fluxcd.io/v2" "HelmRelease" "tenant-root" "tenant-root" }}
{{- if and $tenantRoot $tenantRoot.spec $tenantRoot.spec.values $tenantRoot.spec.values.host }}
{{- $host = $tenantRoot.spec.values.host }}
{{- end }}
{{- end }}

{{- $apiServerEndpoint := dig "publishing" "apiServerEndpoint" "" $cozystack }}
{{- if not $apiServerEndpoint }}
{{- $apiServerEndpoint = printf "https://api.%s" $host }}
{{- end }}
{{- $rootSaConfigMap := lookup "v1" "ConfigMap" "kube-system" "kube-root-ca.crt" }}
{{- $k8sCa := index $rootSaConfigMap.data "ca.crt" | b64enc }}

{{- $k8sClientSecret := lookup "v1" "Secret" "cozy-keycloak" "k8s-client" }}
{{- if and $oidcEnabled $k8sClientSecret }}
{{- $k8sClient := index $k8sClientSecret.data "client-secret-key" | b64dec }}
---
apiVersion: v1
kind: Secret
metadata:
  name: kubeconfig-{{ .Release.Namespace }}
stringData:
  kubeconfig: |
    apiVersion: v1
    clusters:
    - cluster:
        server: {{ $apiServerEndpoint }}
        certificate-authority-data: {{ $k8sCa }}
      name: cluster
    contexts:
    - context:
        cluster: cluster
        namespace: {{ .Release.Namespace }}
        user: keycloak
      name: {{ .Release.Namespace }}
    current-context: {{ .Release.Namespace }}
    users:
    - name: keycloak
      user:
        exec:
          apiVersion: client.authentication.k8s.io/v1beta1
          args:
          - oidc-login
          - get-token
          - --oidc-issuer-url=https://keycloak.{{ $host }}/realms/cozy
          - --oidc-client-id=kubernetes
          - --oidc-client-secret={{ $k8sClient }}
          - --skip-open-browser
          command: kubectl
{{- else }}
{{- $tenantRootSecret := lookup "v1" "Secret" "tenant-root" "tenant-root" }}
{{- if $tenantRootSecret }}
{{- $caCrt := index $tenantRootSecret.data "ca.crt" }}
{{- $token := index $tenantRootSecret.data "token" | b64dec }}
---
apiVersion: v1
kind: Secret
metadata:
  name: kubeconfig-{{ .Release.Namespace }}
stringData:
  kubeconfig: |
    apiVersion: v1
    kind: Config
    clusters:
    - name: cluster
      cluster:
        server: {{ $apiServerEndpoint }}
        certificate-authority-data: {{ $caCrt }}
    contexts:
    - name: {{ .Release.Namespace }}
      context:
        cluster: cluster
        namespace: {{ .Release.Namespace }}
        user: {{ .Release.Namespace }}
    current-context: {{ .Release.Namespace }}
    users:
    - name: {{ .Release.Namespace }}
      user:
        token: {{ $token }}
{{- end }}
{{- end }}
