##
## @section Common parameters
##

## @param {int} replicas - Number of ingress-nginx replicas.
replicas: 2

## @param {[]string} whitelist - List of client networks.
whitelist: []
## Example:
## whitelist:
## - "1.2.3.4"
## - "10.100.0.0/16"

## @param {bool} cloudflareProxy - Restoring original visitor IPs when Cloudflare proxied is enabled.
cloudflareProxy: false

## @typedef {struct} Resources - Explicit CPU and memory configuration for each ingress-nginx replica.
## @field {quantity} [cpu] - CPU available to each replica.
## @field {quantity} [memory] - Memory (RAM) available to each replica.

## @enum {string} ResourcesPreset - Default sizing preset.
## @value s1.nano
## @value s1.micro
## @value s1.small
## @value s1.medium
## @value s1.large
## @value s1.xlarge
## @value s1.2xlarge
## @value s1.4xlarge
## @value u1.nano
## @value u1.micro
## @value u1.small
## @value u1.medium
## @value u1.large
## @value u1.xlarge
## @value u1.2xlarge
## @value u1.4xlarge
## @value m1.nano
## @value m1.micro
## @value m1.small
## @value m1.medium
## @value m1.large
## @value m1.xlarge
## @value m1.2xlarge
## @value m1.4xlarge

## @param {Resources} [resources] - Explicit CPU and memory configuration for each ingress-nginx replica. When omitted, the preset defined in `resourcesPreset` is applied.
resources: {}
## Example:
## resources:
##   cpu: 4000m
##   memory: 4Gi

## @param {ResourcesPreset} resourcesPreset="s1.micro" - Default sizing preset used when `resources` is omitted.
resourcesPreset: "s1.micro"
