sourceRef:
  kind: OCIRepository
  name: cozystack-packages
  namespace: cozy-system

migrations:
  image: ghcr.io/cozystack/cozystack/platform-migrations:latest@sha256:d096d9d5f9436f084bb2e83800a323ff1bda4c66d6480ecebbec11b61851e97a
  targetVersion: 23

# Bundle deployment configuration
bundles:
  system:
    type: "full" # "hosted", or "minimal"
  iaas:
    enabled: true
  paas:
    enabled: true
  naas:
    enabled: true

# Infrastructure components configuration
components:
  metallb:
    enabled: false
  hetzner-robotlb:
    enabled: true
  cilium:
    enabled: true
    values:
      k8sServiceHost: ""
      k8sServicePort: 6443

# Network configuration
networking:
  clusterDomain: "cozy.local"
  podCIDR: "10.244.0.0/16"
  podGateway: "10.244.0.1"
  serviceCIDR: "10.96.0.0/16"
  joinCIDR: "100.64.0.0/16"

# Service publishing and ingress configuration
publishing:
  host: "example.org"
  ingressName: tenant-root
  exposedServices:
  - api
  - dashboard
  - vm-exportproxy
  - cdi-uploadproxy
  apiServerEndpoint: ""
  externalIPs: []
  certificates:
    issuerType: http01  # "http01" or "cloudflare"

# Telemetry configuration
telemetry:
  enabled: true

# Authentication configuration
authentication:
  oidc:
    enabled: false
    dashboard:
      extraRedirectUris: []

# Pod scheduling configuration
scheduling:
  topologySpreadConstraints: []

# UI branding configuration
branding:
  dashboard:
    tenantText: "v0.38.0-alpha.1"
    footerText: "Cozystack"
    titleText: "Cozystack Dashboard"
    logoText: ""
    logoSvg: ""
    iconSvg: ""
  keycloak:
    displayName: ""
    displayHtmlName: ""

# Container registry mirrors configuration
#
# Example:
# registries:
#   mirrors:
#     docker.io:
#       endpoints:
#         - http://10.0.0.1:8082
#     ghcr.io:
#       endpoints:
#         - http://10.0.0.1:8083
#     gcr.io:
#       endpoints:
#         - http://10.0.0.1:8084
#     registry.k8s.io:
#       endpoints:
#         - http://10.0.0.1:8085
#     quay.io:
#       endpoints:
#         - http://10.0.0.1:8086
#     cr.fluentbit.io:
#       endpoints:
#         - http://10.0.0.1:8087
#     docker-registry3.mariadb.com:
#       endpoints:
#         - http://10.0.0.1:8088
#   config:
#     "10.0.0.1:8082":
#       tls:
#         insecureSkipVerify: true
registries: {}
