backupController:
  image: "ghcr.io/cozystack/cozystack/backup-controller:v1.0.1@sha256:8b12271da67fc69710eabec26b9f2ef341be2c0a287183588d92ca801b9fdb54"
  replicas: 2
  debug: false
  metrics:
    enabled: true
    bindAddress: ":8443"
  resources:
    requests:
      cpu: 10m
      memory: 64Mi
    limits:
      cpu: 500m
      memory: 128Mi
