backupController:
  image: "ghcr.io/cozystack/cozystack/backup-controller:v1.0.0-rc.2@sha256:0959df20e3422cd90a4f995873c0bcef57355984542eb5344c4937dced170c61"
  replicas: 2
  debug: false
  metrics:
    enabled: true
    bindAddress: ":8443"
  resources:
    requests:
      cpu: 10m
      memory: 64Mi
    limits:
      cpu: 500m
      memory: 128Mi
