backupController:
  image: "ghcr.io/cozystack/cozystack/backup-controller:v1.0.0-beta.1@sha256:7d454f9e1033f278578bc97a4f562016d44783cf001cc93e7d2040066eb2279f"
  replicas: 2
  debug: false
  metrics:
    enabled: true
    bindAddress: ":8443"
  resources:
    requests:
      cpu: 10m
      memory: 64Mi
    limits:
      cpu: 500m
      memory: 128Mi
