apiVersion: apps/v1
kind: Deployment
metadata:
  name: flux-plunger
  labels:
    app.kubernetes.io/name: flux-plunger
    app.kubernetes.io/instance: {{ .Release.Name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: flux-plunger
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: flux-plunger
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      serviceAccountName: flux-plunger
      containers:
      - name: flux-plunger
        image: "{{ .Values.image }}"
        args:
        {{- if .Values.debug }}
        - --zap-log-level=debug
        {{- else }}
        - --zap-log-level=info
        {{- end }}
        - --metrics-bind-address=:8080
        - --metrics-secure=false
        ports:
        - name: metrics
          containerPort: 8080
        - name: health
          containerPort: 8081
        livenessProbe:
          httpGet:
            path: /healthz
            port: health
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: health
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          limits:
            cpu: 500m
            memory: 128Mi
          requests:
            cpu: 10m
            memory: 64Mi
