---
apiVersion: cozystack.io/v1alpha1
kind: PackageSource
metadata:
  name: cozystack.ingress-nginx
spec:
  sourceRef:
    kind: OCIRepository
    name: cozystack-packages
    namespace: cozy-system
    path: /
  variants:
  - name: default
    dependsOn:
    - cozystack.networking
    - cozystack.prometheus-operator-crds
    components:
    - name: ingress-nginx
      path: system/ingress-nginx
      install:
        namespace: cozy-ingress-nginx
        releaseName: ingress-nginx
