---
apiVersion: cozystack.io/v1alpha1
kind: PackageSource
metadata:
  name: cozystack.opensearch-application
spec:
  sourceRef:
    kind: OCIRepository
    name: cozystack-packages
    namespace: cozy-system
    path: /
  variants:
  - name: default
    dependsOn:
    - cozystack.networking
    - cozystack.opensearch-operator
    libraries:
    - name: cozy-lib
      path: library/cozy-lib
    components:
    - name: opensearch
      path: apps/opensearch
      libraries: ["cozy-lib"]
    - name: opensearch-rd
      path: system/opensearch-rd
      install:
        namespace: cozy-system
        releaseName: opensearch-rd
