---
apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: cozystack
  namespace: cozy-system
spec:
  interval: 1m0s
  ref:
    branch: refactor-engine
  timeout: 60s
  url: https://github.com/cozystack/cozystack.git
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cozystack-platform
  namespace: cozy-system
spec:
  interval: 5m
  targetNamespace: cozy-system
  chart:
    spec:
      chart: ./packages/core/platform
      sourceRef:
        kind: GitRepository
        name: cozystack
        namespace: cozy-system
  values:
    sourceRef:
      kind: GitRepository
      name: cozystack
      namespace: cozy-system
