---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.4
  name: cozystackplatformconfigurations.cozystack.io
spec:
  group: cozystack.io
  names:
    kind: CozystackPlatformConfiguration
    listKind: CozystackPlatformConfigurationList
    plural: cozystackplatformconfigurations
    singular: cozystackplatformconfiguration
  scope: Cluster
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: CozystackPlatformConfiguration is the Schema for the cozystackplatformconfigurations
          API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: CozystackPlatformConfigurationSpec defines the desired state
              of CozystackPlatformConfiguration
            properties:
              chart:
                description: Chart configuration for HelmRelease
                properties:
                  interval:
                    default: 5m
                    description: Interval at which to reconcile the HelmRelease
                    type: string
                  path:
                    description: Path to the Helm chart directory in the Git repository
                    type: string
                required:
                - path
                type: object
              source:
                description: Source configuration for GitRepository
                properties:
                  ignore:
                    description: Ignore overrides the set of patterns for ignoring
                      files and folders
                    type: string
                  include:
                    description: Include specifies a list of Git sub-paths to include
                    items:
                      description: |-
                        GitRepositoryInclude specifies a local reference to a GitRepository which
                        Artifact (sub-)contents must be included, and where they should be placed.
                      properties:
                        fromPath:
                          description: |-
                            FromPath specifies the path to copy contents from, defaults to the root
                            of the Artifact.
                          type: string
                        repository:
                          description: |-
                            GitRepositoryRef specifies the GitRepository which Artifact contents
                            must be included.
                          properties:
                            name:
                              description: Name of the referent.
                              type: string
                          required:
                          - name
                          type: object
                        toPath:
                          description: |-
                            ToPath specifies the path to copy contents to, defaults to the name of
                            the GitRepositoryRef.
                          type: string
                      required:
                      - repository
                      type: object
                    type: array
                  interval:
                    default: 1m0s
                    description: Interval at which to check for updates
                    type: string
                  recurseSubmodules:
                    description: RecurseSubmodules enables the initialization of all
                      submodules
                    type: boolean
                  ref:
                    description: Git repository reference (branch, tag, semver, commit)
                    properties:
                      branch:
                        description: Branch to check out, defaults to 'master' if
                          no other field is defined.
                        type: string
                      commit:
                        description: |-
                          Commit SHA to check out, takes precedence over all reference fields.

                          This can be combined with Branch to shallow clone the branch, in which
                          the commit is expected to exist.
                        type: string
                      name:
                        description: |-
                          Name of the reference to check out; takes precedence over Branch, Tag and SemVer.

                          It must be a valid Git reference: https://git-scm.com/docs/git-check-ref-format#_description
                          Examples: "refs/heads/main", "refs/tags/v0.1.0", "refs/pull/420/head", "refs/merge-requests/1/head"
                        type: string
                      semver:
                        description: SemVer tag expression to check out, takes precedence
                          over Tag.
                        type: string
                      tag:
                        description: Tag to check out, takes precedence over Branch.
                        type: string
                    type: object
                  secretRef:
                    description: Secret reference containing credentials
                    properties:
                      name:
                        default: ""
                        description: |-
                          Name of the referent.
                          This field is effectively required, but due to backwards compatibility is
                          allowed to be empty. Instances of this type with an empty value here are
                          almost certainly wrong.
                          More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                        type: string
                    type: object
                    x-kubernetes-map-type: atomic
                  timeout:
                    description: Timeout for Git operations
                    type: string
                  url:
                    description: URL of the Git repository
                    type: string
                  verification:
                    description: Verification specifies the Git commit signature verification
                      configuration
                    properties:
                      mode:
                        default: HEAD
                        description: |-
                          Mode specifies which Git object(s) should be verified.

                          The variants "head" and "HEAD" both imply the same thing, i.e. verify
                          the commit that the HEAD of the Git repository points to. The variant
                          "head" solely exists to ensure backwards compatibility.
                        enum:
                        - head
                        - HEAD
                        - Tag
                        - TagAndHEAD
                        type: string
                      secretRef:
                        description: |-
                          SecretRef specifies the Secret containing the public keys of trusted Git
                          authors.
                        properties:
                          name:
                            description: Name of the referent.
                            type: string
                        required:
                        - name
                        type: object
                    required:
                    - secretRef
                    type: object
                required:
                - url
                type: object
              values:
                description: Values to pass to HelmRelease
                x-kubernetes-preserve-unknown-fields: true
            required:
            - chart
            - source
            type: object
        type: object
    served: true
    storage: true
