{{- $cozystack := .Values._cozystack | default dict }}
{{- $exposeIngress := dig "namespaces" "ingress" "tenant-root" $cozystack }}
{{- $exposeExternalIPs := dig "publishing" "externalIPs" (list) $cozystack }}
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ingress-nginx-system
spec:
  chartRef:
    kind: ExternalArtifact
    name: cozystack-system-ingress-system
    namespace: cozy-system
  interval: 5m
  timeout: 10m
  install:
    remediation:
      retries: -1
  upgrade:
    force: true
    remediation:
      retries: -1
  values:
    ingress-nginx:
      fullnameOverride: {{ trimPrefix "tenant-" .Release.Namespace }}-ingress
      controller:
        replicaCount: {{ .Values.replicas }}
        ingressClass: {{ .Release.Namespace }}
        resources: {{- include "cozy-lib.resources.defaultingSanitize" (list .Values.resourcesPreset .Values.resources $) | nindent 10 }}
        ingressClassResource:
          name: {{ .Release.Namespace }}
          controllerValue: k8s.io/ingress-nginx-{{ .Release.Namespace }}
        podLabels:
          cozystack.io/service: ingress
          policy.cozystack.io/allow-to-apiserver: "true"
        {{- if not (eq .Release.Namespace "tenant-root") }}
        admissionWebhooks:
          enabled: false
        {{- end }}
        service:
          {{- if and (eq $exposeIngress .Release.Namespace) (gt (len $exposeExternalIPs) 0) }}
          externalIPs:
            {{- toYaml $exposeExternalIPs | nindent 12 }}
          type: ClusterIP
          externalTrafficPolicy: Cluster
          {{- else }}
          type: LoadBalancer
          externalTrafficPolicy: Local
          {{- end }}
        {{- if or .Values.whitelist .Values.cloudflareProxy }}
        config:
          {{- with .Values.whitelist }}
          whitelist-source-range: "{{ join "," . }}"
          {{- end }}
          {{- if .Values.cloudflareProxy }}
          set_real_ip_from: "{{ include "ingress.cloudflare-ips" . }}"
          use-forwarded-headers: "true"
          server-snippet: "real_ip_header CF-Connecting-IP;"
          {{- end }}
        {{- end }}
