##
## @section Common parameters
##

## @typedef {struct} Resources - Explicit CPU and memory configuration for each NATS replica.
## @field {quantity} [cpu] - CPU available to each replica.
## @field {quantity} [memory] - Memory (RAM) available to each replica.

## @enum {string} ResourcesPreset - Default sizing preset.
## @value s1.nano
## @value s1.micro
## @value s1.small
## @value s1.medium
## @value s1.large
## @value s1.xlarge
## @value s1.2xlarge
## @value s1.4xlarge
## @value u1.nano
## @value u1.micro
## @value u1.small
## @value u1.medium
## @value u1.large
## @value u1.xlarge
## @value u1.2xlarge
## @value u1.4xlarge
## @value m1.nano
## @value m1.micro
## @value m1.small
## @value m1.medium
## @value m1.large
## @value m1.xlarge
## @value m1.2xlarge
## @value m1.4xlarge

## @param {int} replicas - Number of replicas.
replicas: 2

## @param {Resources} [resources] - Explicit CPU and memory configuration for each NATS replica. When omitted, the preset defined in `resourcesPreset` is applied.
resources: {}

## @param {ResourcesPreset} resourcesPreset="u1.nano" - Default sizing preset used when `resources` is omitted.
resourcesPreset: "u1.nano"

## @param {string} storageClass - StorageClass used to store the data.
storageClass: ""

## @param {bool} external - Enable external access from outside the cluster.
external: false

##
## @section Application-specific parameters
##

## @typedef {struct} User - User configuration.
## @field {string} [password] - Password for the user.

## @param {map[string]User} users - Users configuration map.
users: {}
## Example:
## users:
##   user1:
##     password: strongpassword
##   user2: {}

## @typedef {struct} Jetstream - Jetstream configuration.
## @field {bool} enabled=true - Enable or disable Jetstream for persistent messaging in NATS.
## @field {quantity} size - Jetstream persistent storage size.

## @param {Jetstream} jetstream - Jetstream configuration.
jetstream:
  enabled: true
  size: 10Gi

## @typedef {struct} Config - NATS configuration.
## @field {*object} [merge] - Additional configuration to merge into NATS config.
## @field {*object} [resolver] - Additional resolver configuration to merge into NATS config.

## @param {Config} config - NATS configuration.
config:
  merge: {}
  resolver: {}
