{{- $cozystack := .Values.cozystack | default dict }}
{{- $publishing := $cozystack.publishing | default dict }}
{{- $host := $publishing.host | default "" }}
{{- $exposeServices := $publishing.exposedServices | default list }}
{{- $exposeIngress := $publishing.ingressClassName | default "tenant-root" }}
{{- if not $host }}
{{- fail "ERROR: cozystack.publishing.host is required" }}
{{- end }}

{{- if has "vm-exportproxy" $exposeServices }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: HTTPS
    nginx.ingress.kubernetes.io/ssl-passthrough: "true"
  name: vm-exportproxy
  namespace: cozy-kubevirt
spec:
  ingressClassName: {{ $exposeIngress }}
  rules:
  - host: vm-exportproxy.{{ $host }}
    http:
      paths:
      - backend:
          service:
            name: vm-exportproxy
            port:
              number: 443
        path: /
        pathType: ImplementationSpecific
{{- end }}
