backupStrategyController:
  image: "ghcr.io/cozystack/cozystack/backupstrategy-controller:v1.0.0-beta.1@sha256:c88e87a92043312e7fe44c27bb160f7687187f748ce5fc351aa0a090d2e8e1fb"
  replicas: 2
  debug: false
  metrics:
    enabled: true
    bindAddress: ":8443"
  resources:
    requests:
      cpu: 10m
      memory: 64Mi
    limits:
      cpu: 500m
      memory: 128Mi
